<div
  #artboard
  class="artboard mat-elevation-z4 deselectable"
  [style.width]="config.width + config.unit"
  [style.height]="config.height + config.unit">
  @for (block of blocks; track block) {
    <fs-block
      [zoompan]="zoompan"
      [block]="block">
    </fs-block>
  }
  @if (config.marginTop) {
    <div class="margin margin-top" [style.top]="config.marginTop + 'in'"></div>
  }
  @if (config.marginLeft) {
    <div class="margin margin-left" [style.left]="config.marginLeft + 'in'"></div>
  }
  @if (config.marginBottom) {
    <div class="margin margin-bottom" [style.bottom]="config.marginBottom + 'in'"></div>
  }
  @if (config.marginRight) {
    <div class="margin margin-right" [style.right]="config.marginRight + 'in'"></div>
  }
  <div
    #marginContainer
    class="margin-container"
    [style.top]="config.marginTop + 'in'"
    [style.right]="config.marginRight + 'in'"
    [style.bottom]="config.marginBottom + 'in'"
    [style.left]="config.marginLeft + 'in'">
  </div>
</div>

