<div class="sidebar mat-elevation-z2">
  <div class="sidebar-panel">
    <div class="sidebar-label">Add</div>
    <div class="sidebar-row">
        <ng-container *ngFor="let blockType of BlockTypes">
          <ng-container [ngSwitch]="blockType.value">
            <ng-container *ngSwitchCase="BlockType.Pdf">
              <ng-container *ngTemplateOutlet="addFile"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="BlockType.Image">
              <ng-container *ngTemplateOutlet="addFile"></ng-container>
            </ng-container>            
            <ng-container *ngSwitchDefault>
              <ng-container *ngTemplateOutlet="addButton"></ng-container>
            </ng-container>
          </ng-container>

          <ng-template #addFile>
            <fs-file (select)="blockUpload(blockType.value, $event)" [accept]="blockType.accept">
              <ng-container *ngTemplateOutlet="addButton"></ng-container>
            </fs-file>
          </ng-template>

          <ng-template #addButton>
            <button            
                type="button"
                mat-icon-button
                [matTooltip]="'Add ' + blockType.name"
                (click)="blockAdd(blockType.value)">
              <mat-icon>{{blockType.icon}}</mat-icon>
            </button>
          </ng-template>
        </ng-container>
    </div>
  </div>
  <ng-container *ngIf="block">
    <div class="sidebar-panel">
      <div class="sidebar-label">Tools</div>
      <div class="sidebar-row">
        <ng-container *ngIf="block">
          <button
              mat-icon-button
              color="basic"
              type="button"
              (click)="blockRemoveClick()">
            <mat-icon>delete_outline</mat-icon>
          </button>
          <button
              class="layer-up"
              mat-icon-button
              color="basic"
              type="button"
              (click)="layerUp()">
            <mat-icon>arrow_back</mat-icon>
            <mat-icon>layers</mat-icon>
          </button>
          <button
              class="layer-down"
              mat-icon-button
              color="basic"
              type="button"
              (click)="layerDown()">
            <mat-icon>arrow_back</mat-icon>
            <mat-icon>layers</mat-icon>
          </button>
        </ng-container>
      </div>
    </div>
    <div class="sidebar-panel info-panel">
      <div class="sidebar-label">Info</div>
      <div class="sidebar-row">
        <mat-form-field class="form-field-padless" floatLabel="never">
          <input
            matInput
            [ngModel]="block.left"
            name="left"
            (focus)="inputFocus($event)"
            (ngModelChange)="leftChange($event)">
            <span matPrefix>X</span>
        </mat-form-field>
        <mat-form-field class="form-field-padless" floatLabel="never">
          <input
            matInput
            [ngModel]="block.top"
            name="top"
            (focus)="inputFocus($event)"
            (ngModelChange)="topChange($event)">
            <span matPrefix>Y</span>
        </mat-form-field>
        <mat-form-field class="form-field-padless" floatLabel="never">
          <input
            matInput
            [ngModel]="block.rotate || 0"
            name="rotate"
            (focus)="inputFocus($event)"
            (ngModelChange)="rotateChange($event)">
            <span matPrefix>R</span>
        </mat-form-field>
      </div>

      <div class="sidebar-row">
        <mat-form-field class="form-field-padless" floatLabel="never">
          <input
              matInput
              [ngModel]="block.width"
              name="width"
              (focus)="inputFocus($event)"
              (ngModelChange)="widthChange($event)">
            <span matPrefix>W</span>
        </mat-form-field>

        <div>
          <a (click)="toggleKeepRatio()" class="keep-ratio">
            <mat-icon>{{block.keepRatio ? 'lock_outline' : 'lock_open'}}</mat-icon>
          </a>
        </div>
        <mat-form-field class="form-field-padless" floatLabel="never">
          <input
            matInput
            [ngModel]="block.height"
            name="height"
            (focus)="inputFocus($event)"
            (ngModelChange)="heightChange($event)">
            <span matPrefix>H</span>
        </mat-form-field>
      </div>
    </div>
    <ng-container *ngIf="block.type === BlockType.LongText || block.type === BlockType.ShortText || block.type === BlockType.RadioButton || block.type === BlockType.Checkbox || block.type === BlockType.Date">
      <div class="sidebar-panel form-field-panel">
        <div class="sidebar-label">{{blockTypeNames[block.type]}} Field</div>
        <div class="sidebar-row">

          <mat-form-field class="form-field-padless full-width">
            <input
              matInput
              [ngModel]="block.name"
              name="name"
              placeholder="Name"
              (ngModelChange)="blockChangeProperty($event, 'name')">
          </mat-form-field>

          <ng-container *ngIf="block.type === BlockType.Date">
            <mat-form-field class="form-field-padless full-width">
              <input
                matInput
                [ngModel]="block.format"
                name="format"
                placeholder="Format"
                (ngModelChange)="blockChangeProperty($event, 'format')">
            </mat-form-field>
          </ng-container>

          <ng-container *ngIf="block.type === BlockType.LongText || block.type === BlockType.ShortText">
            <mat-form-field class="form-field-padless full-width">
              <textarea
                matInput
                [matTextareaAutosize]="true"
                [ngModel]="block.formula"
                name="formula"
                placeholder="Formula"
                (ngModelChange)="blockChangeProperty($event, 'formula')">
              </textarea>
            </mat-form-field>
          </ng-container>

          <ng-container *ngIf="block.type === BlockType.LongText || block.type === BlockType.ShortText || block.type === BlockType.Date">
            <mat-form-field class="form-field-padless full-width">
              <textarea
                matInput
                [matTextareaAutosize]="true"
                [ngModel]="block.default"
                name="default"
                placeholder="Default"
                (ngModelChange)="blockChangeProperty($event, 'default')">
              </textarea>
            </mat-form-field>
          </ng-container>

          <mat-form-field class="form-field-padless full-width">
            <textarea
              matInput
              [matTextareaAutosize]="true"
              [ngModel]="block.description"
              name="description"
              placeholder="Description"
              (ngModelChange)="blockChangeProperty($event, 'description')">
            </textarea>
          </mat-form-field>

          <ng-container *ngIf="block.type === BlockType.RadioButton || block.type === BlockType.Checkbox">
            <mat-form-field class="form-field-padless full-width">
              <textarea
                matInput
                [matTextareaAutosize]="true"
                [ngModel]="block.groupLabel"
                name="groupLabel"
                placeholder="Group Label"
                (ngModelChange)="blockChangeProperty($event, 'groupLabel')">
              </textarea>
            </mat-form-field>
            
            <mat-form-field class="form-field-padless full-width">
              <mat-label>Group Description</mat-label>
              <textarea
                matInput
                [matTextareaAutosize]="true"
                [ngModel]="block.groupDescription"
                name="groupDescription"
                (ngModelChange)="blockChangeProperty($event, 'groupDescription')">
              </textarea>
            </mat-form-field>
          </ng-container>

          <mat-form-field class="form-field-padless full-width">
            <mat-label>Index</mat-label>
            <input
              matInput
              [(ngModel)]="block.index"
              name="index"
              (ngModelChange)="blockChangeProperty($event, 'index')">
          </mat-form-field>

          <div class="form-field-options">
            <mat-checkbox 
                name="required" 
                [(ngModel)]="block.required"
                (ngModelChange)="blockChangeProperty($event, 'required')">
              Required
            </mat-checkbox>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="sidebar-panel typography-panel">
      <div class="sidebar-label">Typography</div>
      <div class="sidebar-row">
        <fs-color-picker-chip
          (changed)="fontColorChange($event)"
          [color]="block.fontColor">
        </fs-color-picker-chip>

        <mat-form-field class="form-field-padless font-size" floatLabel="never">
          <input
            matInput
            [ngModel]="block.fontSize"
            name="fontSize"
            (focus)="inputFocus($event)"
            (ngModelChange)="fontSizeChange($event)"
            placeholder="Size">
            <span matPrefix *ngIf="block.fontSize">S</span>
        </mat-form-field>

        <mat-form-field class="form-field-padless line-height" floatLabel="never">
          <input
            matInput
            [ngModel]="block.lineHeight"
            name="lineHeight"
            (focus)="inputFocus($event)"
            (ngModelChange)="lineHeightChange($event)"
            placeholder="Line">
            <span matPrefix *ngIf="block.lineHeight">L</span>
        </mat-form-field>
      </div>

      <div class="sidebar-row style-row">
        <button
            mat-icon-button
            class="toggle-button"
            color="basic"
            type="button"
            [ngClass]="{ selected: block.bold }"
            (click)="boldClick()">
          <mat-icon>format_bold</mat-icon>
        </button>
        <button
            mat-icon-button
            class="toggle-button"
            color="basic"
            type="button"
            [ngClass]="{ selected: block.italic }"
            (click)="italicClick()">
          <mat-icon>format_italic</mat-icon>
        </button>
        <button
            mat-icon-button
            class="toggle-button"
            color="basic"
            type="button"
            [ngClass]="{ selected: block.underline }"
            (click)="underlineClick()">
          <mat-icon>format_underline</mat-icon>
        </button>
      </div>

      <div class="sidebar-row align-row">
        <button
            mat-icon-button
            class="toggle-button"
            color="basic"
            type="button"
            [ngClass]="{ selected: block.horizontalAlign === 'left' }"
            (click)="horizontalAlignClick('left')">
          <mat-icon>format_align_left</mat-icon>
        </button>
        <button
            mat-icon-button
            class="toggle-button"
            color="basic"
            type="button"
            [ngClass]="{ selected: block.horizontalAlign === 'center' }"
            (click)="horizontalAlignClick('center')">
          <mat-icon>format_align_center</mat-icon>
        </button>
        <button
            mat-icon-button
            class="toggle-button"
            color="basic"
            type="button"
            [ngClass]="{ selected: block.horizontalAlign === 'right' }"
            (click)="horizontalAlignClick('right')">
          <mat-icon>format_align_right</mat-icon>
        </button>
        <button
            mat-icon-button
            class="toggle-button"
            color="basic"
            type="button"
            [ngClass]="{ selected: block.verticalAlign === 'top' }"
            (click)="verticalAlignClick('top')">
          <mat-icon>vertical_align_top</mat-icon>
        </button>
        <button
            mat-icon-button
            class="toggle-button"
            color="basic"
            type="button"
            [ngClass]="{ selected: block.verticalAlign === 'center' }"
            (click)="verticalAlignClick('center')">
          <mat-icon>vertical_align_center</mat-icon>
        </button>
        <button
            mat-icon-button
            class="toggle-button"
            color="basic"
            type="button"
            [ngClass]="{ selected: block.verticalAlign === 'bottom' }"
            (click)="verticalAlignClick('bottom')">
          <mat-icon>vertical_align_bottom</mat-icon>
        </button>
      </div>
    </div>
    <div class="sidebar-panel">
      <div class="sidebar-label">Border</div>

      <div class="sidebar-row">
        <fs-color-picker-chip
          (changed)="borderColorChange($event)"
          [color]="block.borderColor">
        </fs-color-picker-chip>

        <mat-form-field class="form-field-padless border-width" floatLabel="never">
          <input
              matInput
              [(ngModel)]="block.borderWidth"
              name="borderWidth"
              (focus)="inputFocus($event)"
              (ngModelChange)="borderWidthChange($event)"
              placeholder="Width">
            <span matPrefix *ngIf="block.borderWidth">W</span>
        </mat-form-field>
      </div>
    </div>

    <div class="sidebar-panel">
      <div class="sidebar-label">Shape</div>

      <div class="sidebar-row">
        <fs-color-picker-chip
          (changed)="backgroundColorChange($event)"
          [color]="block.backgroundColor">
        </fs-color-picker-chip>

        <mat-form-field class="form-field-padless shape-radius" floatLabel="never">
          <input
              matInput
              [(ngModel)]="block.shapeRadius"
              name="shapeRadius"
              (focus)="inputFocus($event)"
              (ngModelChange)="shapeRadiusChange($event)"
              placeholder="Radius">
            <span matPrefix *ngIf="block.shapeRadius">R</span>
        </mat-form-field>

        <div class="shape-corners">
          <div
            class="shape-corner shape-corner-top-left"
            [ngClass]="{ round: block.shapeTopLeft === 'round' }"
            (click)="shapeRound('shapeTopLeft')"></div>
          <div
            class="shape-corner shape-corner-top-right"
            [ngClass]="{ round: block.shapeTopRight === 'round' }"
            (click)="shapeRound('shapeTopRight')"></div>
          <div
            class="shape-corner shape-corner-bottom-left"
            [ngClass]="{ round: block.shapeBottomLeft === 'round' }"
            (click)="shapeRound('shapeBottomLeft')"></div>
          <div
            class="shape-corner shape-corner-bottom-right"
            [ngClass]="{ round: block.shapeBottomRight === 'round' }"
            (click)="shapeRound('shapeBottomRight')"></div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="block.type !== BlockType.Pdf">
      <div class="sidebar-panel">
        <div class="sidebar-label">Image</div>
        <div class="sidebar-row image-row">
          <fs-file (select)="imageSelect($event)">
            <button type="button" mat-icon-button><mat-icon>cloud_upload</mat-icon></button>
          </fs-file>
          <ng-container *ngIf="block.imageUrl">
            <button
                mat-icon-button
                color="basic"
                type="button"
                (click)="imageRemove()">
              <mat-icon>clear</mat-icon>
            </button>
            <button
                mat-icon-button
                class="toggle-button"
                color="basic"
                type="button"
                [ngClass]="{ selected: clippable }"
                (click)="imageClip()">
              <mat-icon>crop</mat-icon>
            </button>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <div class="sidebar-panel">
      <div class="sidebar-label">Padding</div>
      <div class="sidebar-row padding-row">

        <mat-form-field class="form-field-padless" floatLabel="never">
          <input
              matInput
              [ngModel]="block.padding"
              name="padding"
              (focus)="inputFocus($event)"
              (ngModelChange)="paddingAllChange($event)"
              placeholder="All">
            <span matPrefix *ngIf="block.padding">A</span>
        </mat-form-field>

        <mat-form-field class="form-field-padless" floatLabel="never">
          <input
              matInput
              [ngModel]="block.paddingTop"
              name="paddingTop"
              (focus)="inputFocus($event)"
              (ngModelChange)="paddingChange('paddingTop',$event)"
              placeholder="Top">
            <span matPrefix *ngIf="block.paddingTop">T</span>
        </mat-form-field>

        <mat-form-field class="form-field-padless" floatLabel="never">
          <input
              matInput
              [ngModel]="block.paddingBottom"
              name="paddingBottom"
              (focus)="inputFocus($event)"
              (ngModelChange)="paddingChange('paddingBottom',$event)"
              placeholder="Bottom">
            <span matPrefix *ngIf="block.paddingBottom">B</span>
        </mat-form-field>

        <mat-form-field class="form-field-padless" floatLabel="never">
          <input
              matInput
              [ngModel]="block.paddingLeft"
              name="paddingLeft"
              (focus)="inputFocus($event)"
              (ngModelChange)="paddingChange('paddingLeft',$event)"
              placeholder="Left">
            <span matPrefix *ngIf="block.paddingLeft">L</span>
        </mat-form-field>

        <mat-form-field class="form-field-padless" floatLabel="never">
          <input
              matInput
              [ngModel]="block.paddingRight"
              name="paddingRight"
              (focus)="inputFocus($event)"
              (ngModelChange)="paddingChange('paddingRight',$event)"
              placeholder="Right">
            <span matPrefix *ngIf="block.paddingRight">R</span>
        </mat-form-field>
      </div>
    </div>
  </ng-container>

  <ng-container *ngFor="let sidebarPanel of sidebarPanels">
    <div div class="sidebar-panel" *ngIf="sidebarPanel.show">
      <div class="sidebar-label">{{sidebarPanel.label}}</div>
      <ng-container
        [ngTemplateOutlet]="sidebarPanel.templateRef"
        [ngTemplateOutletContext]="{ block: block }"></ng-container>
    </div>
  </ng-container>
</div>

