<div class="sidebar">
  <form fsForm>
    <div class="sidebar-panel">      
      <div class="sidebar-label">Elements</div>
      <div class="sidebar-row">
        <ng-container *ngFor="let blockType of BlockTypes">
          <ng-container *ngIf="blockType.type === 'draw'">
            <ng-container [ngSwitch]="blockType.value">
              <ng-container *ngSwitchCase="BlockType.Pdf">
                <ng-container [ngTemplateOutlet]="addFile" [ngTemplateOutletContext]="{ type: BlockType.Pdf }"></ng-container>
              </ng-container>
              <ng-container *ngSwitchCase="BlockType.Image">
                <ng-container [ngTemplateOutlet]="addFile" [ngTemplateOutletContext]="{ type: BlockType.Rectangle }"></ng-container>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <ng-container 
                  [ngTemplateOutlet]="addButton" 
                  [ngTemplateOutletContext]="{ blockType: blockType }">
                </ng-container>
              </ng-container>
            </ng-container>

            <ng-template #addFile let-type="type">
              <fs-file 
                  (select)="blockUpload({ type: type, keepRatio: true, borderWidth: 0 }, $event)" 
                  [accept]="blockType.accept">
                <ng-container [ngTemplateOutlet]="addButton" [ngTemplateOutletContext]="{ blockType: blockType }"></ng-container>
              </fs-file>
            </ng-template>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div class="sidebar-panel">
      <div class="sidebar-label">Form</div>
      <div class="sidebar-row">
        <ng-container *ngFor="let blockType of BlockTypes">
          <ng-container *ngIf="blockType.type === 'form'">
            <ng-container 
              [ngTemplateOutlet]="addButton" 
              [ngTemplateOutletContext]="{ blockType: blockType }">
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>  

    <div class="sidebar-panel">
      <div class="sidebar-label">Tools</div>
      <div class="sidebar-row tools">
        <ng-container *ngIf="block">
          <button
              class="layer-up"
              mat-icon-button
              color="basic"
              type="button"
              (click)="layerUp()"
              [matTooltip]="'Increase layer'">
            <mat-icon>arrow_back</mat-icon>
            <mat-icon>layers</mat-icon>
          </button>
          <button
              class="layer-down"
              mat-icon-button
              color="basic"
              type="button"
              (click)="layerDown()"
              [matTooltip]="'Decrease layer'">
            <mat-icon>arrow_back</mat-icon>
            <mat-icon>layers</mat-icon>
          </button>
          <button
              mat-icon-button
              color="basic"
              type="button"
              (click)="toggleLock()"
              [matTooltip]="block.lock ? 'Unlock' : 'Lock'">
            <mat-icon>{{block.lock ? 'lock_outline' : 'lock_open'}}</mat-icon>
          </button>
          <button
              mat-icon-button
              color="basic"
              type="button"
              [matTooltip]="'Duplicate block'"
              (click)="blockDuplicateClick()">
            <mat-icon>content_copy</mat-icon>
          </button>
          <button
              mat-icon-button
              color="basic"
              type="button"
              [matTooltip]="'Delete block'"
              (click)="blockRemoveClick()">
            <mat-icon>delete_outline</mat-icon>
          </button>          
        </ng-container>
        <ng-container *ngIf="blocksReordered">
          <button
              class="reorder-layers"
              mat-icon-button
              color="basic"
              type="button"
              (click)="blocksReordered()"
              [matTooltip]="'Reorder blocks'">
            <mat-icon>swap_vert</mat-icon>
          </button>
        </ng-container>
        <button
          mat-icon-button
          color="basic"
          type="button"
          matTooltip="Reset zoom"
          (click)="zoomCenter.emit()">
        <mat-icon>crop_free</mat-icon>
        </button>
      </div>
    </div>
    <ng-container *ngIf="block">
      <div class="sidebar-panel info-panel">
        <div class="sidebar-label">Info</div>
        <div class="sidebar-row field-gap">
          <mat-form-field class="form-field-padless form-field-prefix">
            <input
              matInput
              [ngModel]="block.left"
              name="left"
              fsMaskNumber
              [scale]="5"
              (focus)="inputFocus($event)"
              (keydown)="numericInputKeypress($event, 'left', .01)"
              (ngModelChange)="numberChange($event, 'left')">
            <span matTextPrefix>X</span>
          </mat-form-field>
          <mat-form-field class="form-field-padless form-field-prefix">
            <input
              matInput
              [ngModel]="block.top"
              name="top"
              fsMaskNumber
              [scale]="5"
              (focus)="inputFocus($event)"
              (keydown)="numericInputKeypress($event, 'top', .01)"
              (ngModelChange)="numberChange($event, 'top')">
            <span matTextPrefix>Y</span>
          </mat-form-field>
          <mat-form-field class="form-field-padless form-field-prefix rotate">
            <input
              matInput
              [ngModel]="block.rotate"
              name="rotate"
              fsMaskNumber
              [scale]="5"
              (focus)="inputFocus($event)"
              (keydown)="numericInputKeypress($event, 'rotate', 1)"
              (ngModelChange)="numberChange($event, 'rotate')">
            <span matTextPrefix>R</span>
          </mat-form-field>
        </div>

        <div class="sidebar-row field-gap">
          <mat-form-field class="form-field-padless form-field-prefix">
            <input
              matInput
              [ngModel]="block.width"
              name="width"
              fsMaskNumber
              [scale]="5"
              (focus)="inputFocus($event)"
              (keydown)="numericInputKeypress($event, 'width', .01)"
              (ngModelChange)="numberChange($event, 'width')">
            <span matTextPrefix>W</span>
          </mat-form-field>

          <div>
            <a (click)="toggleKeepRatio()" class="keep-ratio">
              <mat-icon>{{block.keepRatio ? 'lock_outline' : 'lock_open'}}</mat-icon>
            </a>
          </div>
          <mat-form-field class="form-field-padless form-field-prefix">
            <input
              matInput
              [ngModel]="block.height"
              name="height"
              fsMaskNumber
              [scale]="5"
              (focus)="inputFocus($event)"
              (keydown)="numericInputKeypress($event, 'height', .01)"
              (ngModelChange)="numberChange($event, 'height')">
            <span matTextPrefix>H</span>
          </mat-form-field>
        </div>
      </div>
      <ng-container
        *ngIf="blockTypeForm">
        <div class="sidebar-panel block-form-panel">
          <div class="sidebar-label">
            <mat-icon>{{blockTypeIcons[block.type]}}</mat-icon>
            {{blockTypeNames[block.type]}}
          </div>
          <div class="sidebar-row">

            <ng-container *ngIf="block.type === BlockType.RadioButton; else nameField">
              <div class="group-block">
                <mat-form-field class="full-width" class="full-width">
                  <mat-label>Group</mat-label>
                  <mat-select
                      [(ngModel)]="blockGroup"
                      (ngModelChange)="blockGroupChange($event)"
                      name="group">
                    <ng-container *ngIf="blockGroups.length">
                      <mat-option [value]="null">
                        None
                      </mat-option>
                    </ng-container>
                    <mat-option
                        *ngFor="let item of blockGroups"
                        [value]="item">
                      {{ item.label }}
                    </mat-option>
                    <mat-option 
                        [value]="null"
                        (click)="blockGroupCreate($event)">
                      Create Group
                    </mat-option>
                  </mat-select>                
                </mat-form-field>
                <ng-container *ngIf="blockGroup">
                  <a 
                      (click)="blockGroupEdit($event)">
                    <mat-icon>edit</mat-icon>
                  </a>
                </ng-container>
              </div>
            </ng-container>
            
            <mat-form-field class="full-width">
              <input
                matInput
                [ngModel]="block.label"
                name="label"
                placeholder="Label"
                (ngModelChange)="blockChangeProperty({ label: $event })">
            </mat-form-field>

            <ng-container *ngIf="block.type !== BlockType.RadioButton">
              <mat-form-field class="full-width">
                <textarea
                  matInput
                  [cdkTextareaAutosize]="true"
                  [ngModel]="block.description"
                  name="description"
                  placeholder="Description"
                  (ngModelChange)="blockChangeProperty({ description: $event })">
                </textarea>
              </mat-form-field>
            </ng-container>

            <mat-form-field
              *ngIf="formats.length"
              class="full-width">
              <mat-label>Format</mat-label>
              <mat-select
                [(ngModel)]="block.format"
                name="format"
                (ngModelChange)="blockChangeProperty({ format: $event })"> 
                <mat-option [value]="null">
                  None
                </mat-option>
                <mat-option
                  *ngFor="let item of formats"
                  [value]="item.value">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <ng-container
                *ngIf="block.type === BlockType.LongText || block.type === BlockType.ShortText || block.type === BlockType.Date">
              <mat-form-field class="full-width">
                <textarea
                  matInput
                  [cdkTextareaAutosize]="true"
                  [ngModel]="block.default"
                  name="default"
                  [validate]="validate"
                  placeholder="Default"
                  (ngModelChange)="blockChangeProperty({ default: $event })">
                </textarea>
              </mat-form-field>
            </ng-container>

            <ng-container *ngIf="block.type === BlockType.LongText || block.type === BlockType.ShortText">
              <mat-form-field class="full-width">
                <textarea
                  matInput
                  [cdkTextareaAutosize]="true"
                  [ngModel]="block.formula"
                  name="formula"
                  placeholder="Formula"
                  (ngModelChange)="blockChangeProperty({ formula: $event })">
                </textarea>
              </mat-form-field>
            </ng-container>

            <ng-template #nameField>
              <mat-form-field class="full-width">
                <input
                  matInput
                  [ngModel]="block.name"
                  name="name"
                  placeholder="Name"
                  (ngModelChange)="blockChangeProperty({ name: $event })">
              </mat-form-field>
            </ng-template>

            <div class="form-field-options">
              <mat-checkbox
                  name="required"
                  [(ngModel)]="block.required"
                  (ngModelChange)="blockRequired($event)">
                Required
              </mat-checkbox>

              <mat-checkbox
                  name="readonly"
                  [(ngModel)]="block.readonly"
                  (ngModelChange)="blockReadonly($event)">
                Readonly
              </mat-checkbox>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="block.type === BlockType.Rectangle || block.type === BlockType.Image || block.type === BlockType.Pdf">
        <div class="sidebar-panel typography-panel">
          <div class="sidebar-label">Typography</div>
          <div class="sidebar-row field-gap">
            <fs-font-picker        
              [(ngModel)]="block.fontFamily"       
              (ngModelChange)="fontChanged($event)"
              name="fontfamily">
            </fs-font-picker>
            <fs-color-picker-chip
              (changed)="fontColorChange($event)"
              [color]="block.fontColor">
            </fs-color-picker-chip>

            <mat-form-field class="form-field-padless form-field-prefix font-size">
              <input
                matInput
                [ngModel]="block.fontSize"
                name="fontSize"
                fsMaskNumber
                [scale]="5"
                (focus)="inputFocus($event)"
                (keydown)="numericInputKeypress($event, 'fontSize', 1)"
                (ngModelChange)="numberChange($event, 'fontSize')"
                placeholder="Size">
              <span matTextPrefix *ngIf="block.fontSize">S</span>
            </mat-form-field>

            <mat-form-field class="form-field-padless form-field-prefix line-height">
              <input
                matInput
                [ngModel]="block.lineHeight"
                name="lineHeight"
                fsMaskNumber
                [scale]="5"
                (focus)="inputFocus($event)"
                (keydown)="numericInputKeypress($event, 'lineHeight', 1)"
                (ngModelChange)="numberChange($event, 'lineHeight')"
                placeholder="Line">
              <span matTextPrefix *ngIf="block.lineHeight">L</span>
            </mat-form-field>

              <button
              mat-icon-button
              class="toggle-button"
              color="basic"
              type="button"
              [ngClass]="{ selected: block.bold }"
              (click)="boldClick()">
              <mat-icon>format_bold</mat-icon>
            </button>
            <button
              mat-icon-button
              class="toggle-button"
              color="basic"
              type="button"
              [ngClass]="{ selected: block.italic }"
              (click)="italicClick()">
              <mat-icon>format_italic</mat-icon>
            </button>
            <button
              mat-icon-button
              class="toggle-button"
              color="basic"
              type="button"
              [ngClass]="{ selected: block.underline }"
              (click)="underlineClick()">
              <mat-icon>format_underline</mat-icon>
            </button>
          </div>

          <div class="sidebar-row align-row field-gap">
            <button
              mat-icon-button
              class="toggle-button"
              color="basic"
              type="button"
              [ngClass]="{ selected: block.horizontalAlign === 'left' }"
              (click)="horizontalAlignClick('left')">
              <mat-icon>format_align_left</mat-icon>
            </button>
            <button
              mat-icon-button
              class="toggle-button"
              color="basic"
              type="button"
              [ngClass]="{ selected: block.horizontalAlign === 'center' }"
              (click)="horizontalAlignClick('center')">
              <mat-icon>format_align_center</mat-icon>
            </button>
            <button
              mat-icon-button
              class="toggle-button"
              color="basic"
              type="button"
              [ngClass]="{ selected: block.horizontalAlign === 'justify' }"
              (click)="horizontalAlignClick('justify')">
              <mat-icon>format_align_justify</mat-icon>
            </button>
            <button
              mat-icon-button
              class="toggle-button"
              color="basic"
              type="button"
              [ngClass]="{ selected: block.horizontalAlign === 'right' }"
              (click)="horizontalAlignClick('right')">
              <mat-icon>format_align_right</mat-icon>
            </button>
            <button
              mat-icon-button
              class="toggle-button"
              color="basic"
              type="button"
              [ngClass]="{ selected: block.verticalAlign === 'top' }"
              (click)="verticalAlignClick('top')">
              <mat-icon>vertical_align_top</mat-icon>
            </button>
            <button
              mat-icon-button
              class="toggle-button"
              color="basic"
              type="button"
              [ngClass]="{ selected: block.verticalAlign === 'center' }"
              (click)="verticalAlignClick('center')">
              <mat-icon>vertical_align_center</mat-icon>
            </button>
            <button
              mat-icon-button
              class="toggle-button"
              color="basic"
              type="button"
              [ngClass]="{ selected: block.verticalAlign === 'bottom' }"
              (click)="verticalAlignClick('bottom')">
              <mat-icon>vertical_align_bottom</mat-icon>
            </button>
          </div>
        </div>
        <div class="sidebar-panel">
          <div class="sidebar-label">Border</div>

          <div class="sidebar-row field-gap">
            <fs-color-picker-chip
              (changed)="borderColorChange($event)"
              [color]="block.borderColor">
            </fs-color-picker-chip>

            <mat-form-field class="form-field-padless form-field-prefix border-width">
              <input
                matInput
                [(ngModel)]="block.borderWidth"
                name="borderWidth"
                fsMaskNumber
                [scale]="5"
                (focus)="inputFocus($event)"
                (keydown)="numericInputKeypress($event, 'borderWidth', 1)"
                (ngModelChange)="numberChange($event, 'borderWidth')"
                placeholder="Width">
              <span matTextPrefix *ngIf="block.borderWidth">W</span>
            </mat-form-field>
          </div>
        </div>
        <div class="sidebar-panel">
          <div class="sidebar-label">Shape</div>

          <div class="sidebar-row field-gap">
            <fs-color-picker-chip
              (changed)="backgroundColorChange($event)"
              [color]="block.backgroundColor">
            </fs-color-picker-chip>

            <mat-form-field class="form-field-padless form-field-prefix shape-radius">
              <input
                matInput
                [ngModel]="block.shapeRadius"
                name="shapeRadius"
                fsMaskNumber
                [scale]="5"
                (focus)="inputFocus($event)"
                (keydown)="numericInputKeypress($event, 'shapeRadius', 1)"
                (ngModelChange)="numberChange($event, 'shapeRadius')"
                placeholder="Radius">
              <span matTextPrefix *ngIf="block.shapeRadius">R</span>
            </mat-form-field>

            <div class="shape-corners">
              <div
                class="shape-corner shape-corner-top-left"
                [ngClass]="{ round: block.shapeTopLeft === 'round' }"
                (click)="shapeRound('shapeTopLeft')"></div>
              <div
                class="shape-corner shape-corner-top-right"
                [ngClass]="{ round: block.shapeTopRight === 'round' }"
                (click)="shapeRound('shapeTopRight')"></div>
              <div
                class="shape-corner shape-corner-bottom-left"
                [ngClass]="{ round: block.shapeBottomLeft === 'round' }"
                (click)="shapeRound('shapeBottomLeft')"></div>
              <div
                class="shape-corner shape-corner-bottom-right"
                [ngClass]="{ round: block.shapeBottomRight === 'round' }"
                (click)="shapeRound('shapeBottomRight')"></div>
            </div>
          </div>
        </div>
        <div class="sidebar-panel shadow-panel">
          <div class="sidebar-label">Shadow</div>

          <div class="sidebar-row field-gap">
            <fs-color-picker-chip
              (changed)="shadowColorChange($event)"
              [color]="block.shadowColor">
            </fs-color-picker-chip>

            <mat-form-field class="form-field-padless form-field-prefix shadow-x">
              <input
                matInput
                [ngModel]="block.shadowX"
                name="shadowX"
                fsMaskNumber
                [scale]="5"
                (focus)="inputFocus($event)"
                (keydown)="numericInputKeypress($event, 'shadowX')"
                (ngModelChange)="numberChange($event, 'shadowX')">
              <span matTextPrefix>X</span>
            </mat-form-field>
            <mat-form-field class="form-field-padless form-field-prefix shadow-y">
              <input
                matInput
                [ngModel]="block.shadowY"
                name="shadowY"
                (focus)="inputFocus($event)"
                (keydown)="numericInputKeypress($event, 'shadowY')"
                (ngModelChange)="numberChange($event, 'shadowY')">
              <span matTextPrefix>Y</span>
            </mat-form-field>
            <mat-form-field class="form-field-padless form-field-prefix shadow-blur">
              <input
                matInput
                [ngModel]="block.shadowBlur"
                name="shadowBlur"
                placeholder="Blur"
                fsMaskNumber
                [scale]="5"
                (focus)="inputFocus($event)"
                (keydown)="numericInputKeypress($event, 'shadowBlur')"
                (ngModelChange)="numberChange($event, 'shadowBlur')">
              <span matTextPrefix *ngIf="block.shadowBlur">B</span>
            </mat-form-field>
            <mat-form-field class="form-field-padless form-field-prefix shadow-spread">
              <input
                matInput
                [ngModel]="block.shadowSpread"
                name="shadowSpread"
                placeholder="Spread"
                fsMaskNumber
                [scale]="5"
                (focus)="inputFocus($event)"
                (keydown)="numericInputKeypress($event, 'shadowSpread')"
                (ngModelChange)="numberChange($event, 'shadowSpread')">
              <span matTextPrefix *ngIf="block.shadowSpread">S</span>
            </mat-form-field>
            <!-- <mat-form-field class="form-field-padless">
              <input
                  matInput
                  [ngModel]="block.shadowOpacity"
                  name="shadowOpacity"
                  placeholder="Opacity"
                  (focus)="inputFocus($event)"
                  (keydown)="numericInputKeypress($event, 'shadowOpacity')"
                  (ngModelChange)="numberChange($event, 'shadowOpacity')">
                <span matTextPrefix *ngIf="block.shadowOpacity">O</span>
            </mat-form-field> -->
          </div>
        </div>
        <ng-container *ngIf="block.type === BlockType.Rectangle">
          <div class="sidebar-panel">
            <div class="sidebar-label">Image</div>
            <div class="sidebar-row image-row">
              <fs-file (select)="blockUpload(block, $event)">
                <button
                  type="button"
                  mat-icon-button>
                  <mat-icon>cloud_upload</mat-icon>
                </button>
              </fs-file>
              <ng-container *ngIf="block.imageUrl">
                <button
                  mat-icon-button
                  color="basic"
                  type="button"
                  (click)="imageRemove()">
                  <mat-icon>clear</mat-icon>
                </button>
                <button
                  mat-icon-button
                  class="toggle-button"
                  color="basic"
                  type="button"
                  [ngClass]="{ selected: clippable }"
                  (click)="imageClip()">
                  <mat-icon>crop</mat-icon>
                </button>

                <mat-form-field class="form-field-padless opacity">
                  <input
                    matInput
                    [ngModel]="block.imageOpacity"
                    fsMaskNumber
                    [scale]="5"
                    name="imageOpacity"
                    placeholder="Opacity"
                    (focus)="inputFocus($event)"
                    (keydown)="numericInputKeypress($event, 'imageOpacity', 1)"
                    (ngModelChange)="numberChange($event, 'imageOpacity')">
                  <span matTextPrefix *ngIf="block.imageOpacity">O</span>
                </mat-form-field>
              </ng-container>
            </div>
          </div>
        </ng-container> 
        <div class="sidebar-panel">
          <div class="sidebar-label">Padding</div>
          <div class="sidebar-row padding-row field-gap">

            <mat-form-field class="form-field-padless form-field-prefix">
              <input
                matInput
                [(ngModel)]="block.padding"
                name="padding"
                fsMaskNumber
                [scale]="5"
                (focus)="inputFocus($event)"
                (ngModelChange)="paddingAllChange($event)"
                (keydown)="paddingAllKeypress($event, 1)"
                placeholder="All">
              <span matTextPrefix *ngIf="block.padding">A</span>
            </mat-form-field>

            <mat-form-field class="form-field-padless form-field-prefix">
              <input
                matInput
                [ngModel]="block.paddingTop"
                name="paddingTop"
                fsMaskNumber
                [scale]="5"
                (focus)="inputFocus($event)"
                (keydown)="paddingKeypress($event, 'paddingTop')"
                (ngModelChange)="numberChange($event, 'paddingTop')"
                placeholder="Top">
              <span matTextPrefix *ngIf="block.paddingTop">T</span>
            </mat-form-field>

            <mat-form-field class="form-field-padless form-field-prefix">
              <input
                matInput
                [ngModel]="block.paddingBottom"
                name="paddingBottom"
                fsMaskNumber
                [scale]="5"
                (focus)="inputFocus($event)"
                (keydown)="paddingKeypress($event, 'paddingBottom')"
                (ngModelChange)="numberChange($event, 'paddingBottom')"
                placeholder="Bottom">
              <span matTextPrefix *ngIf="block.paddingBottom">B</span>
            </mat-form-field>

            <mat-form-field class="form-field-padless form-field-prefix">
              <input
                matInput
                [ngModel]="block.paddingLeft"
                name="paddingLeft"
                fsMaskNumber
                [scale]="5"
                (focus)="inputFocus($event)"
                (keydown)="paddingKeypress($event, 'paddingLeft')"
                (ngModelChange)="numberChange($event, 'paddingLeft')"
                placeholder="Left">
              <span matTextPrefix *ngIf="block.paddingLeft">L</span>
            </mat-form-field>

            <mat-form-field class="form-field-padless form-field-prefix">
              <input
                matInput
                [ngModel]="block.paddingRight"
                name="paddingRight"
                fsMaskNumber
                [scale]="5"
                (focus)="inputFocus($event)"
                (keydown)="paddingKeypress($event, 'paddingRight')"
                (ngModelChange)="numberChange($event, 'paddingRight')"
                placeholder="Right">
              <span matTextPrefix *ngIf="block.paddingRight">R</span>
            </mat-form-field>
          </div>
        </div>      
      </ng-container>       
    </ng-container>
    <div class="sidebar-panel">
      <div class="sidebar-label">Utilities</div>
      <div class="sidebar-row padding-row">
        <button
            mat-icon-button
            color="basic"
            type="button"
            (click)="exportBlocks()"
            [matTooltip]="'Export blocks'">
          <mat-icon>download</mat-icon>
        </button>
        <button
            mat-icon-button
            color="basic"
            type="button"
            (click)="importBlocks()"
            [matTooltip]="'Import blocks'">
          <mat-icon>upload</mat-icon>
        </button>
      </div>
    </div>    

    <ng-container *ngFor="let sidebarPanel of sidebarPanels">
      <div div class="sidebar-panel" *ngIf="sidebarPanel.show">
        <div class="sidebar-label">{{sidebarPanel.label}}</div>
        <ng-container
          [ngTemplateOutlet]="sidebarPanel.templateRef"
          [ngTemplateOutletContext]="{ block: block }"></ng-container>
      </div>
    </ng-container>
  </form>
</div>
<ng-template #addButton let-blockType="blockType">
  <button
      type="button"
      mat-icon-button
      [matTooltip]="'Add ' + blockType.name"
      (click)="blockAdd(blockType.value)">
    <mat-icon>{{blockType.icon}}</mat-icon>
  </button>
</ng-template>