.sidebar {
  width: 285px;
  font-size: 14px;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  padding: 0 10px 10px;
  box-shadow: 0px 1px 3px 1px #0003;
  z-index: 1;
  position: relative;
  box-sizing: border-box;

  form {
    height: 100%;
  }
  
  .sidebar-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    + .sidebar-row {
      margin-top: 12px;
    }

    fs-color-picker-chip {
      margin-left: 6px;
    }

    &.padding-row {
      flex-wrap: unset;
      ::ng-deep {
        .mat-form-field {
          width: 20%;
          min-width: 0;
        }
      }
    }

    &.image-row {
      margin-bottom: -5px;

      .opacity {
        width: 55px;
        margin-left: 10px;
      }
    }

    ::ng-deep {
      .mat-checkbox,
      .mat-form-field {
        font-size: 12px;
      }
    }

    > *:not(.mat-icon-button):not(fs-file) {
      margin-right: 11px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .layer-up, .layer-down {
    ::ng-deep .mat-button-wrapper {
      position: relative;
      mat-icon:first-child {
        position: absolute;
        transform: rotate(90deg) scale(0.5);
        top: -7px;
        color: #fff;
      }
    }
  }

  .layer-down {
    mat-icon:first-child {
      transform: rotate(270deg) scale(0.6);
    }
  }

  .padding {
    width: 45px;
  }

  .line-height,
  .font-size,
  .border-width {
    width: 45px;
  }

  .shape-radius {
    width: 50px;
  }

  .shape-corners {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1px;
    row-gap: 1px;

    .shape-corner {
      height: 13px;
      width: 13px;
      background-color: #ccc;
      cursor: pointer;

      &.round {
        &.shape-corner-top-right {
          border-top-right-radius: 50%;
        }

        &.shape-corner-top-left {
          border-top-left-radius: 50%;
        }

        &.shape-corner-bottom-left {
          border-bottom-left-radius: 50%;
        }

        &.shape-corner-bottom-right {
          border-bottom-right-radius: 50%;
        }
      }
    }
  }

  button.toggle-button:not(.selected) mat-icon {
    color: #ccc;
  }

  .sidebar-panel {
    padding: 10px 10px 10px 10px;

    + .sidebar-panel {
      border-top: 1px solid #dadada;
    }

    &.block-form-panel {

      .sidebar-label {
        display: flex;
        align-items: center;

        mat-icon {
          transform: scale(.8);
          color: inherit;
          margin-left: -5px;
        }
      }

      .form-field-options {
        mat-checkbox {
          display: block;

          + mat-checkbox {
            margin-top: 2px;
          }
        }
      }
    }

    &.info-panel {
      .mat-form-field {
        width: 60px;

        &.rotate {
          width: 40px;
        }
      }
    }

    &.shadow-panel {
      .mat-form-field {
        width: 41px;

        &.shadow-x,
        &.shadow-y,
        &.shadow-blur {
          width: 26px;
        }
      }
    }

    &.typography-panel {
      fs-autocomplete {
        width: 100%;
      }
      
      .style-row {
        margin-bottom: -10px;
      }

      .align-row {
        margin-bottom: -5px;
        .mat-icon-button {
          width: 35px;
          height: 35px;
          line-height: 35px;
        }
      }
    }

    .sidebar-label {
      font-size: 11px;
      margin-bottom: 7px;
      color: #9e9e9e;
    }

    .keep-ratio {
      color: inherit;
      transform: scale(.85);
      display: block;
    }
  }
}

.full-width {
  width: 100%;
}

:host {
  ::ng-deep {
    .mat-form-field-prefix {
      color: #9e9e9e;
      margin-right: 3px;
      font-size: 85%;
    }
  }
}