<div
    class="editor-container deselectable"
    (mousedown)="editorContainerClick($event)">
  <div
      #artboardContainer
      class="artboard-container deselectable">
    <div
        #zoomPanContaner
        class="zoom-pan-container deselectable">
      <fs-zoom-pan
          class="deselectable"
          [zoomMax]="5"
          [top]="10">
        <app-artboard
          [zoompan]="zoompan"
          [config]="config">
        </app-artboard>
      </fs-zoom-pan>
    </div>
  </div>
  <sidebar
    [config]="config"
    [blocks]="blocks"
    (zoomCenter)="zoomCenter()">
  </sidebar>
</div>