.editor-container {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
  background: #d8d8d8;
  overflow: hidden;

  .artboard-container {
    display: flex;
    flex-grow: 1;
    min-width: 0;
    border: 1px solid #ececec;
  }

  .zoom-pan-container {
    flex: 1;
  }
}

fs-zoom-pan {
  height: 100%;
}