.editor-container {
  display: flex;
  flex-direction: row;
  position: relative;

  .artboard-container {
    display: flex;
    flex-grow: 1;
    min-width: 0;
  }

  .zoom-pan-container {
    flex: 1;
  }
}
