<div class="editor-container deselectable">
  <div
      #artboardContainer
      class="artboard-container deselectable"
      (mousedown)="artboardClick($event)">

      <!-- <div fxFlexLayout="row">
        <button mat-icon-button (click)="zoomIn()"><mat-icon>zoom_in</mat-icon></button>
        <button mat-icon-button (click)="zoomOut()"><mat-icon>zoom_out</mat-icon></button>
        <button mat-icon-button (click)="reset()"><mat-icon>youtube_searched_for</mat-icon></button>
        <button mat-icon-button (click)="add()"><mat-icon>add</mat-icon></button>
      </div> -->
      <div #zoomPanContaner class="zoom-pan-container deselectable">
        <fs-zoom-pan>
          <ng-template fsZoomPanContent>
            <app-artboard 
              [zoompan]="zoompan"
              [config]="config">
            </app-artboard>
          </ng-template>
        </fs-zoom-pan>
      </div>
  </div>
  <sidebar
    [config]="config"
    [blocks]="blocks">
  </sidebar>
</div>
