<div
    #element
    [class]="'block ' + 'block-' + block.type"
    [style.top]="styleTop"
    [style.left]="styleLeft"
    [style.width]="styleWidth"
    [style.height]="styleHeight"
    [ngClass]="{ 
      editable: editable, 
      readonly: block.readonly,
      required: block.required
    }"
    [style.zIndex]="block.index">
  <div
      #contentElement
      class="content"
      [style.borderColor]="block.borderColor"
      [style.borderWidth]="block.borderWidth ? block.borderWidth + 'pt' : ''"
      [style.borderStyle]="block.borderColor ? 'solid' : 'dashed'"
      [style.textAlign]="block.horizontalAlign"
      [style.fontStyle]="block.italic ? 'italic' : ''"
      [style.fontFamily]="block.fontFamily || ''"
      [style.fontSize]="block.fontSize ? block.fontSize + 'pt' : ''"
      [style.lineHeight]="block.lineHeight ? block.lineHeight + 'pt' : ''"
      [style.color]="block.fontColor"
      [style.fontWeight]="block.bold ? 'bold' : ''"
      [style.textDecoration]="block.underline ? 'underline' : ''"
      [style.paddingTop]="block.paddingTop ? block.paddingTop + 'pt' : ''"
      [style.paddingBottom]="block.paddingBottom ? block.paddingBottom + 'pt' : ''"
      [style.paddingLeft]="block.paddingLeft ? block.paddingLeft + 'pt' : ''"
      [style.paddingRight]="block.paddingRight ? block.paddingRight + 'pt' : ''"
      [style.backgroundColor]="block.backgroundColor"
      [style.borderBottomLeftRadius]="block.shapeRadius && block.shapeBottomLeft === 'round' ? block.shapeRadius + 'pt' : ''"
      [style.borderBottomRightRadius]="block.shapeRadius && block.shapeBottomRight === 'round' ? block.shapeRadius + 'pt' : ''"
      [style.borderTopRightRadius]="block.shapeRadius && block.shapeTopRight === 'round' ? block.shapeRadius + 'pt' : ''"
      [style.borderTopLeftRadius]="block.shapeRadius && block.shapeTopLeft === 'round' ? block.shapeRadius + 'pt' : ''"
      [style.boxShadow]="styleBoxShadow"
      [ngClass]="{
        'editable': editable,
        'vertical-align-center': block.verticalAlign === 'center',
        'vertical-align-bottom': block.verticalAlign === 'bottom'
      }">
    <ng-container [ngSwitch]="block.type">
      <ng-container *ngSwitchCase="BlockType.Pdf">
         <img [src]="block.imageUrl">
      </ng-container>
      <img        
        *ngIf="block.imageUrl"  
        [style.clipPath]="styleClipPath" 
        [style.height]="styleImageHeight" 
        [style.width]="styleImageWidth" 
        [style.top]="styleImageTop" 
        [style.left]="styleImageLeft" 
        [style.opacity]="block.imageOpacity ? block.imageOpacity/100 : 1"
        [src]="block.imageUrl">
    </ng-container>
    <ng-container *ngIf="block.type === BlockType.LongText || block.type === BlockType.ShortText || block.type === BlockType.RadioButton || block.type === BlockType.Checkbox || block.type === BlockType.Date">
      {{block.label || block.name}}
    </ng-container>
    <div
      #contentEditable
      [contentEditable]="editable"
      class="content-editable"
      [innerHTML]="content">
    </div>
  </div>
</div>
