:host {
  ::ng-deep {
    .moveable-control {
      width: 10px!important;
      height: 10px!important;
      margin-top: -5px!important;
      margin-left: -5px!important;
    }
  }

  &.transforming {
    ::ng-deep {
      .moveable-control,
      .moveable-rotation {
        display: none;
      }
    }
  } 
}

.block {
  position: absolute;
  display: block;
  outline: none;
  user-select: none;

  &:not(.readonly) {
    cursor: pointer;
  }

  &.block-shorttext,
  &.block-longtext,
  &.block-date,
  &.block-radiobutton,
  &.block-signature,
  &.block-checkbox {
    background-color: rgb(170 181 225 / 80%);
    color: #585555;
    font-size: 12px;
  }

  .content-editable {
    outline: none;
    position: relative;
  }

  &.editable {
    .content-editable {
      cursor: text;
    }
  }

  .content {
    flex-direction: column;
    height: 100%;
    display: flex;
    border: 1px dashed #c5c5c5;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;

    fs-html-editor {
      width: 100%;
    }

    &.vertical-align-center {
      justify-content: center;
    }

    &.vertical-align-bottom {
      justify-content: flex-end;
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
}

:host ::ng-deep {
  fs-html-editor {
    .bottom-line,
    .fr-toolbar {
      display: none !important;
    }

    .fr-wrapper {
      background: none !important;
      border: none !important;
    }
  }

  .moveable-line:not(.moveable-rotation-line):not(.moveable-guideline) {
    background: transparent !important;
  }
}
